$signBlue: #3c57e2;
$signYellow: #f2c336;
$signBlueBlack: #363fc3;
$candle: #fffcbb;
$shadow: #262626;
$shadowFaded: #332f2fed;
$shadow--light: rgba($shadow, 0.9);
$shadow--bitless: rgba($shadow, 0.6);
$shadow--less: rgba($shadow, 0.3);
$shadow--tiny: rgba($shadow, 0.1);
$lightgrey: #a7a6ab;

//Utility colors
$black: #000;
$white: #fff;
$beige: #ece6d1;
$orange: #f60;
$red: #f00;
$blue: #00f;
$aqua: #0ff;
$yellow: #ff0;
$lime: #0f0;
$fuchsia: #f0f;
$green: #008000;
$olive: #808000;
$teal: #008080;
$purple: #800080;
$silver: #c0c0c0;
$maroon: #800000;
$gray: #808080;
