@mixin lookBorder {
  border: solid 0.1rem $orange;
}

@mixin lookBorderBlue {
  border: solid 0.1rem $blue;
}

@mixin lookBorderPurple {
  border: solid 0.1rem $purple;
}

@mixin lookBorderGreen {
  border: solid 0.1rem $green;
}

@mixin mq($breakpoint) {
  @if $breakpoint == m350 {
    @media (min-width: 21.875em) {
      @content;
    }
  }

  @if $breakpoint == m350land {
    @media (min-width: 21.875em) and (orientation: landscape) {
      @content;
    }
  }

  @if $breakpoint == m600 {
    @media (min-width: 37.5em) {
      @content;
    }
  }

  @if $breakpoint == m600land {
    @media (min-width: 37.5em) and (orientation: landscape) {
      @content;
    }
  }

  @if $breakpoint == m750 {
    @media (min-width: 46.875em) {
      @content;
    }
  }

  @if $breakpoint == m750land {
    @media (min-width: 46.875em) and (orientation: landscape) {
      @content;
    }
  }

  @if $breakpoint == m900 {
    @media (min-width: 56.25em) {
      @content;
    }
  }

  @if $breakpoint == m1200 {
    @media (min-width: 75em) {
      @content;
    }
  }

  @if $breakpoint == m1600 {
    @media (min-width: 100em) {
      @content;
    }
  }
}

// Animations
@keyframes wheels {
  0% {
    text-shadow: 0.1rem 0.1rem 0.1rem $shadow;
  }

  25% {
    transform: scale(1.1);
  }

  50% {
    text-shadow: 0.1rem 0.1rem 0.1rem $shadow--tiny;
  }

  75% {
    transform: scale(1);
  }

  95% {
    text-shadow: 0.1rem 0.1rem 0.1rem $black;
  }
}

@keyframes words {
  0% {
    color: $signBlue;
  }

  50% {
    color: $blue;
    text-shadow: 0.1rem 0.2rem 0.1rem $black;
  }
}
