.faq {
  &Container {
    @include mq(m600) {
      background-image: linear-gradient(
        109.6deg,
        rgba(254, 253, 205, 1) 11.2%,
        rgb(122, 204, 234) 91.1%
      );
    }

    @include mq(m1200) {
      padding: 5rem 0 10rem;
    }

    background-image: linear-gradient(
      110.6deg,
      rgba(254, 253, 205, 1) 11.2%,
      rgb(122, 204, 234) 31.1%,
      rgba(254, 253, 205, 1) 91.2%
    );
    padding: 0 1rem 1rem;
    margin: 0;
  }

  &Headline {
    @include mq(m600) {
      font-size: x-large;
    }

    text-align: center;
    padding: 2rem 0;
    margin: 0;
    font-size: large;
    font-family: "Share Tech Mono", serif;
  }

  &ContentBox {
    @include mq(m1200) {
      row-gap: 4.5rem;
    }

    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2.5rem;
    font-family: "Gruppo", sans-serif;
    justify-items: center;
  }

  &QABox {
    @include mq(m600) {
      max-width: 95%;
    }

    @include mq(m750) {
      max-width: 85%;
    }

    @include mq(m900) {
      max-width: 75%;
      padding: 2.5rem;
    }

    @include mq(m1200) {
      max-width: 63%;
    }

    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    row-gap: 0.4rem;
    padding: 1rem;
    font-weight: 600;
    background-color: $shadow--light;
    color: white;
    border-radius: 0.3rem;
    filter: opacity(0.9);
  }

  &QuestionBox {
    font-size: medium;
    border-bottom: solid 0.1rem #fafafa8f;
    padding-bottom: 0.5rem;
    color: #b6eef8;
  }

  &AnswerBox {
    padding: 0.5rem 0.6rem 0;
    text-align: justify;
  }

  &Question {
    @include mq(m1200) {
      font-size: xx-large;
    }

    max-height: 4rem;
    color: #fafafa;
    font-size: large;
  }

  &Answer {
    @include mq(m1200) {
      font-size: x-large;
      line-height: 1.8rem;
    }

    transition: all 3s ease;
    font-size: medium;
  }

  &Color {
    color: red;
  }
}
