.footer {
  &Container {
    @include mq(m900) {
      padding: 2rem 0;
    }

    background-color: black;
    padding: 1rem 0;
    color: $white;
    text-align: center;
    font-family: "Red Hat Mono", sans-serif;
  }

  &Headline {
    @include mq(m900) {
      font-size: medium;
    }

    font-size: small;
  }

  &Info {
    @include mq(m900) {
      font-size: large;
    }

    font-size: medium;
  }

  &Copy {
    @include mq(m900) {
      font-size: x-small;
    }

    font-size: xx-small;
    margin-top: 4rem;

    & a {
      color: #fafafa;
    }
  }
}
