.footer {
  &Container {
    background-color: black;
    color: $white;

    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }

  &Box {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    justify-content: center;
  }

  &Headline {
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    color: $candle;
    font-size: 1.7rem;
    justify-self: center;
    text-align: center;
  }

  &Info {
    text-align: center;
  }

  &Addy {
    text-align: center;
    font-size: 1.2rem;
  }

  &Hours {
    text-align: center;
    font-size: smaller;
  }

  &Copy {
    text-align: center;
    color: $lightgrey;
    font-family: sans-serif;
  }
}
