.footer {
  &Container {
    @include mq(m900) {
      padding: 2rem 0;
    }

    background-color: black;
    padding: 0;
    color: $white;
    text-align: center;
    font-family: "Goldman", "Red Hat Mono", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &Headline {
    @include mq(m900) {
      font-size: medium;
    }
    font-size: small;
  }

  &Info {
    @include mq(m600) {
      font-size: medium;
    }

    @include mq(m900) {
      font-size: large;
    }

    font-size: small;
  }

  &Copy {
    @include mq(m900) {
      font-size: 0.7rem;
    }

    @include mq(m900) {
      font-size: x-small;
      padding-top: 4rem;
    }

    font-size: 0.5rem;
    color: $lightgrey;
    & a {
      color: $lightgrey;
    }
  }
}
