.home {
  &Container {
    padding: 0;
    margin: 0;
    background-color: azure;
    color: $primaryBlue;
  }

  &HeroBox {
  }

  &HeadlineContainer {
    @include mq(m600) {
      padding: 2rem 0.6rem 2rem 0.3rem;
    }

    padding: 2rem 0.6rem;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &HeadlineBox {
    @include mq(m600) {
      padding: 0.3rem 1.5rem;
    }
    @include mq(mland) {
      padding: 1.5rem 1.5rem;
      margin: 3rem 0;
    }

    @include mq(m750) {
      padding: 1.5rem;
      margin: 0;
    }

    padding: 0.1rem 0.5rem;
    box-shadow: 0.5rem 0.5rem 0.09rem $shadow;
    text-align: center;
    background-color: $primaryYellow;
  }

  &Headline {
    margin: 0;
  }

  &Wheel {
    @include mq(m600) {
      font-size: 2.5rem;
    }

    @include mq(m1200) {
      font-size: 2.8rem;
    }

    @include mq(m1600) {
      font-size: 3rem;
    }

    font-family: "Stalinist One", sans-serif;
    font-size: 2rem;
    color: $primaryBlue;
    font-weight: 300;
    text-shadow: 0.1rem 0.2rem 0.1rem $shadow;
  }

  &Word {
    @include mq(m600) {
      font-size: 2.5rem;
    }

    @include mq(m1200) {
      font-size: 2.8rem;
    }

    @include mq(m1600) {
      font-size: 3rem;
    }

    font-family: "Stalinist One", sans-serif;
    font-size: 2rem;
    color: $primaryBlue;
    font-weight: 300;
    text-shadow: 0.1rem 0.2rem 0.1rem $shadow;
  }

  &TeaserContainer {
    @include mq(m900) {
      grid-template-columns: 1fr 1fr;
      justify-content: space-around;
      padding: 2rem 3rem;
      gap: 2rem;
    }

    @include mq(m1200) {
      min-height: 76vh;
      grid-template-columns: 1fr 1fr;
      justify-content: space-around;
      padding: 2rem 3rem;
      gap: 0 2rem;
    }

    @include mq(m1600) {
      grid-template-columns: 1fr 1fr;
      justify-content: space-between;
      padding: 2rem 10rem;
      gap: 0 2rem;
    }

    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    background-image: url("../../public/obi-pixel6propix-FmOdtM4KXhk-unsplash1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  &TeaserFloatTextDiv {
    @include mq(max375) {
      font-size: large;
    }

    @include mq(mland) {
      min-height: none;
    }
    @include mq(m600) {
      font-size: xx-large;
    }

    @include mq(m1200) {
      min-height: 0;
      border-radius: 0.7rem;
      line-height: 2.5rem;
      background-color: $shadow--bitless;
      color: white;
      transition: 0.4s ease-in-out;
      padding: 0 7rem;
      font-size: x-large;
    }

    @include mq(m1600) {
      font-size: xx-large;
    }

    min-height: 79vh;
    background-color: #fafafacb;
    color: black;
    font-size: x-large;
    text-align: center;
    font-family: "Gruppo", sans-serif;
    font-weight: 600;
    padding: 1.5rem 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    backdrop-filter: blur(3px);
  }

  &TeaserBannerBox {
    @include mq(m1200) {
      padding: 0;
    }

    overflow: hidden;
    border-radius: 0.3rem;
    display: flex;
    align-items: center;
    font-family: "Goldman", sans-serif;
    background-color: transparent;
    color: $blue;
    flex-direction: column;
    font-weight: 400;
    text-align: center;
    padding: 2rem;
  }

  &TeaserAddyBox {
    padding: 0;
  }

  &TeaserData {
    @include mq(m1200) {
      font-size: 1.25rem;
      background-color: #fafafaef;
    }

    padding: 1rem 2rem;
    background-color: #fafafad6;
    color: $primaryBlueBlack;
    font-size: large;
    border-radius: 0.3rem;
  }

  &TeaserBrands {
    color: white;
    font-size: medium;
  }

  &TeaserBrands::before {
    content: "-";
    color: white;
  }

  &TeaserBrands::after {
    content: "-";
    color: white;
  }

  &TeaserImgBox {
    position: relative;
  }

  &TeaserImg {
    @include mq(m600) {
      width: 450px;
      height: 300px;
    }

    @include mq(m1200) {
      width: 350px;
      height: 225px;
    }

    @include mq(m1600) {
      width: 450px;
      height: 300px;
    }

    width: 300px;
    height: 200px;
    border-radius: 0.3rem;
  }

  &TeaserImgText {
    @include mq(max375) {
      padding: 3rem;
      top: 24%;
      left: 17%;
    }

    @include mq(m600) {
      font-size: xx-large;
    }

    @include mq(m1200) {
      top: 13%;
      left: 10%;
    }

    @include mq(m1600) {
      top: 18%;
      left: 18%;
    }

    position: absolute;
    top: 18%;
    left: 18%;
    z-index: 10;
    color: $shadow--bitless;
    font-family: "Share Tech Mono", serif;
    background-image: linear-gradient(
      to bottom right,
      #dff4d4 15%,
      #d9ebf2 50%,
      #d9ebf28d 75%,
      transparent 85%
    );
    font-size: large;
    padding: 2.8rem;
    border-radius: 30%;
  }

  &TeaserPhoneIcon {
    margin-right: 0.2rem;
    font-size: large;
  }

  &AddyButton {
    font-family: serif;
    cursor: pointer;
    background-color: rgba(35, 35, 218, 0.732);
    padding: 0.5rem 1rem;
    color: #fafafa;
    font-weight: 600;
    border: none;
    border-radius: 0.15rem;

    &:hover {
      background-color: rgba(35, 35, 218, 0.4);
    }
  }

  &ServicesSection {
    @include mq(m750) {
      padding: 6rem 0;
      column-gap: 3rem;
      row-gap: 4rem;
      justify-content: space-around;
      grid-template-columns: 3% 1fr 1fr 3%;
      grid-template-areas:
        ". services services ."
        ". test test .";
    }

    @include mq(m1200) {
      padding: 6rem 0;
      column-gap: 3rem;
      row-gap: 0;
      justify-content: space-around;
      grid-template-columns: 3% 1fr 1fr 3%;
      grid-template-areas:
        ". services test ."
        ". services test .";
    }

    @include mq(m1600) {
      padding: 6rem 0;
      column-gap: 6rem;
      justify-content: space-around;
      grid-template-columns: 6% 1fr 1fr 6%;
      grid-template-areas:
        ". services test ."
        ". services test .";
    }

    border-top: solid $white 0.7rem;
    background-image: linear-gradient(
        rgb(154, 187, 237) 0%,
        rgba(134, 183, 231, 0.75),
        rgba(179, 207, 235, 0.97) 50%,
        transparent
      ),
      url("../../public/tireTrack.png");
    backdrop-filter: grayscale(30%);
    background-attachment: fixed;
    color: $shadow;
    display: grid;
    grid-template-columns: 2% 1fr 1fr 2%;
    grid-template-rows: 1fr 1fr;
    justify-content: space-evenly;
    padding: 2rem 0 6rem;
    row-gap: 2rem;
    grid-template-areas:
      ". services services ."
      ". test test .";
  }

  &ServicesCont {
    grid-area: services;
    background-image: url("../../public/tires-robert-laursoo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.9;
    padding: 1rem;
    text-align: center;
    background-color: red;
  }

  &ServicesMid {
    @include mq(m600) {
      border: solid #fafafadf 2rem;
    }

    display: grid;
    border: solid #fafafadf 1rem;
    width: 100%;
  }

  &ServicesHeadlineBox {
    text-align: center;
    padding: 1rem;
  }

  &ServicesHeadline1 {
    @include mq(m900) {
      font-size: xxx-large;
    }

    font-family: "VT323", monospace;
    margin: 0;
    color: rgba(83, 138, 214, 1);
    font-size: x-large;

    text-shadow: 0.1rem 0.1rem 0 $primaryYellow;
    background-color: #fafafadf;
    text-align: center;
  }

  &ServicesULBox {
    padding: 0 1rem;
  }

  &ServicesUL {
    list-style-type: none;
    padding: 0;
  }

  &ServicesLI {
    @include mq(max375) {
      font-size: x-small;
    }

    @include mq(m1200) {
      font-size: medium;
    }

    margin: 0.5rem 0;
    color: $shadow;
    background-color: #fafafadf;
    letter-spacing: 0.3rem;
    font-size: small;
    font-family: "Stalinist One", sans-serif;
    text-transform: uppercase;
    padding: 0.5rem;
    text-align: center;
  }

  &ServicesIcon {
    @include mq(m1200) {
      font-size: xxx-large;
    }

    text-align: center;
    min-height: 1rem;
    min-width: 1rem;
    font-size: x-large;
    color: #fafafa;
  }

  &TestimonialsCont {
    grid-area: test;
    background-color: #fafafa0f;
    display: flex;
    justify-content: center;
  }

  &TestimonialsBox {
    @include mq(m600) {
      padding: 1rem 5rem;
    }

    @include mq(m750) {
      padding: 2rem;
    }

    padding: 1rem;
    background-color: rgba(240, 255, 255, 0.7);
    box-shadow: 0.4rem 0.4rem 0.1rem rgba(33, 32, 32, 0.088);
  }

  &TestimonialsReview {
    border-radius: 0.7rem;
    padding: 0.8rem 2rem;
    font-family: sans-serif, monospace;
    font-size: medium;
    font-style: italic;
    color: $black;
    background-color: $white;
    outline: 2px inset $primaryYellow;
  }

  &TestimonialsHeadline {
    @include mq(m900) {
      font-size: medium;
    }

    @include mq(m1200) {
      font-size: large;
    }

    text-transform: uppercase;
    font-family: "Red Hat Mono", sans-serif;
    letter-spacing: 0.2rem;
    color: rgba(26, 86, 170, 0.773);
    text-shadow: 0.1rem 0.1rem 0 $primaryYellow;
    font-size: large;
    text-align: center;
  }

  &TestimonialsEsp {
    @include mq(m900) {
      font-size: small;
    }

    @include mq(m1200) {
      font-size: medium;
      padding: 2rem 1rem 1.5rem;
    }

    font-size: small;
    text-align: center;
    padding: 2rem 3rem;
  }

  &TestimonialsEspTextCaps {
    text-transform: uppercase;
  }
}
