.home {
  &Container {
    padding: 0;
    margin: 0;
    background-color: azure;
    color: $signBlue;
  }

  &HeadlineContainer {
    @include mq(m600) {
      padding: 2rem 0 0;
    }

    @include mq(m350) {
      padding: 2rem 0.6rem 2rem 0.3rem;
    }

    padding: 2rem 0.6rem;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &HeadlineBox {
    @include mq(m600) {
      padding: 0.3rem 1.5rem;
    }

    padding: 0.1rem 0.5rem;
    margin-bottom: 0.5rem;
    box-shadow: 0.5rem 0.5rem 0.09rem $shadow;
    text-align: center;
    background-color: $signYellow;
  }

  &Headline {
    margin: 0;
  }

  &Wheel {
    @include mq(m600) {
      font-size: 4rem;
    }

    font-family: "Stalinist One", sans-serif;
    font-size: 2rem;
    color: $signBlue;
    text-shadow: 0.2rem 0.2rem 0rem $shadowFaded;
  }

  &L {
    @include mq(m600) {
      font-size: 4rem;
    }

    font-family: "Stalinist One", sans-serif;
    font-size: 2rem;
    color: $signBlue;
    text-shadow: 0.2rem 0.2rem 0rem $shadowFaded;
  }

  &Word {
    @include mq(m600) {
      font-size: 3.5rem;
    }

    font-family: "Stalinist One", sans-serif;
    font-size: 2.5rem;
    color: $signBlue;
    font-weight: 300;
    text-shadow: 0.1rem 0.2rem 0.1rem $shadow;
  }

  &TeaserContainer {
    @include mq(m900) {
      flex-direction: row;
      padding: 2rem;
      min-height: 74vh;
    }

    @include mq(m900) {
      padding: 0 2rem;
    }

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0.1rem;
    background-image: url("../../public/obi-pixel6propix-FmOdtM4KXhk-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 0 0.4rem;
  }

  &TeaserFloatText {
    @include mq(m900) {
      max-width: 45%;

      &:hover {
        background-color: $shadow--bitless;
        text-shadow: 0.2rem 0.2rem 0 $signBlue;
      }
    }

    @include mq(m900) {
      border: solid 0.1rem white;
      border-radius: 0.7rem;
    }

    font-family: "Rubik Mono One", sans-serif;
    align-self: center;
    line-height: 3.2rem;
    color: white;
    font-size: x-large;
    padding: 1rem 3rem;
    text-shadow: 0.2rem 0.2rem 0 #72656b;
    background-color: transparent;
  }

  &TeaserBox {
    @include mq(m600) {
      font-size: 1.2rem;
      padding: 1rem 2rem;
    }

    @include mq(m900) {
      max-width: 40%;
      margin-bottom: none;
    }

    @include mq(m1200) {
      max-width: 30%;
    }

    @include mq(m1600) {
      max-width: 20%;
    }

    max-width: 80%;
    margin-bottom: 1rem;
    font-family: "Goldman", sans-serif;
    padding: 1rem;
    background-color: wheat;
    opacity: 0.9;
    color: $blue;
    font-size: large;
    font-weight: 400;
    text-align: center;
    border-radius: 0.3rem;
    box-shadow: 0.2rem 0.1rem 0.5rem $shadow;
  }

  &TeaserData {
    font-size: smaller;
  }

  &TeaserName {
    font-size: xx-large;
    text-shadow: 0.1rem 0.1rem 0 $signBlue;
  }

  &TeaserAddyBox {
    background-color: #fafafa;
    padding: 0.01rem;
    color: $black;
    filter: drop-shadow(0.4rem 0.4rem $black);
  }

  &ServicesContainer {
    @include mq(m600) {
      padding: 4rem;
    }

    @include mq(m900) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      padding: 4rem;
    }

    @include mq(m1600) {
      padding: 8rem 15rem;
    }

    padding: 2rem 0.7rem;
    border-top: solid $shadow 3rem;
    background-color: #5abfd1;
    color: $shadow;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 6rem;
  }

  &ServicesBox {
    background-color: azure;
    border-radius: 1rem;
    box-shadow: 0.4rem 0.4rem $shadow;
  }

  &ServicesHeadlineBox {
    text-align: center;
  }

  &ServicesHeadline {
    @include mq(m900) {
      font-size: xx-large;
    }

    text-transform: uppercase;
    font-family: "Rubik Distressed", sans-serif;
    color: $shadow;
    font-size: x-large;
    text-shadow: 0.2rem 0.2rem 0rem $signYellow;
  }

  &ServicesContentBox {
  }

  &ServicesContentUL {
    list-style-type: none;
    text-align: center;
  }

  &ServicesContentLI {
    @include mq(m900) {
      font-size: small;
    }

    font-size: small;
    font-family: "Stalinist One", sans-serif;
    text-shadow: 0.1rem 0.1rem $candle;
    text-transform: uppercase;
    padding-bottom: 1rem;
    transform: translateX(-1rem);
    text-align: center;
  }

  &ServicesContentIcon {
    transform: translateX(-0.5rem);
    font-size: xxx-large;
    padding-right: 1rem;
  }

  &ServicesContentReview {
    @include mq(m900) {
      font-size: large;
      margin: 2rem;
    }

    padding: 0.8rem 2rem;
    margin: 1rem;
    font-family: monospace;
    font-size: medium;
    font-style: italic;
    color: $black;
    background-color: $white;
    outline: 2px inset $signYellow;
    border-radius: 0.3rem;
  }

  &TireTracks {
    font-size: 4rem;
    margin: 0 0.5rem;
    color: $signBlue;
  }
}
