.navi {
  &Wrapper {
    background-color: #fafafa;
    width: 100%;
  }

  &Container {
    background-color: #fafafa;
    padding: 1rem 0.5rem;
    display: flex;
    justify-content: center;
    border-bottom: solid black 0.02rem;
  }

  &Each {
    font-family: "Goldman", sans-serif;
    padding: 0 0.5rem;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1rem;

    &:hover {
      scale: 1.05;
    }
  }
}
