.navi {
  &Wrapper {
    @include mq(900) {
      min-height: 6vh;
    }

    background-color: hsl(0, 64%, 98%);
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 0 0.1rem $shadow;
  }

  &Container {
    @include mq(m600) {
      padding: 1rem 0;
    }

    padding: 0.5rem 0rem;
    background-color: #fafafac0;
    display: flex;
    justify-content: center;
  }

  &Each {
    font-family: "Goldman", sans-serif;
    padding: 0 0.5rem;
    text-transform: uppercase;
    font-weight: 600;
    font-size: medium;
    transition: scale 200ms ease-in-out;

    &:active {
      color: blue;
    }
  }

  &Home {
    color: grey;
  }
}
