.navi {
  &Wrapper {
    @include mq(900) {
      min-height: 6vh;
    }

    background-color: #fafafa;
    width: 100%;
  }

  &Container {
    @include mq(m600) {
      padding: 1rem 0;
    }

    padding: 0.5rem 0rem;
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    border-bottom: solid black 0.02rem;
  }

  &Each {
    font-family: "Goldman", sans-serif;
    padding: 0 0.5rem;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1rem;

    &:hover {
      scale: 1.05;
    }
  }
}
