@keyframes wheels {
  50% {
    rotate: 180deg;
  }

  100% {
    rotate: none;
  }
}

.specials {
  &MainContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &VidContainer {
    @include mq(m750land) {
      overflow: scroll;
    }

    @include mq(m900) {
      height: 90vh;
    }

    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    & video {
      position: absolute;
      object-fit: cover;
      height: 100%;
      width: 100%;

      top: 0;
      left: 0;
    }
  }

  &HeadlineContainer {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
  }

  &HeadlineBox {
    @include mq(m750) {
      padding: 6rem 4rem;
    }

    @include mq(m900) {
      padding: 5rem 5rem;
      opacity: 0.95;
      width: 55%;
      min-height: none;
    }

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
    background-image: linear-gradient(
      174.2deg,
      rgb(253, 251, 243) 7.1%,
      rgb(251, 251, 251) 67.4%
    );
    color: black;
    opacity: 0.8;
    border-radius: 0.3rem;
    min-height: 75%;
  }

  &Headline {
    @include mq(m600) {
      padding: 2.5rem;
    }

    font-size: xx-large;
    padding: 1.5rem;
    max-width: fit-content;
    border: dashed $shadow--bitless 0.2rem;
    color: green;
  }

  &Imgs {
    @include mq(m1200) {
      padding: 0.5rem 0;
    }

    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 1rem 0;
    background-image: linear-gradient(
      102.4deg,
      #fafafa 0.5%,
      #f3ffb0 75.8%,
      #5148ad 100.3%
    );
  }

  &Wheel1 {
    animation: wheels 0.7s ease-in-out;
  }

  &Wheel {
    &:hover {
      animation: wheels 0.3s ease-in-out;
    }
  }
}
