@keyframes wheels {
  50% {
    rotate: 180deg;
  }

  100% {
    rotate: none;
  }
}

.specials {
  &MainContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &VidContainer {
    @include mq(m1200) {
      min-height: 89vh;
    }

    padding: 2rem 0;
    min-height: 94vh;
    position: relative;
    width: 100%;
    overflow: hidden;

    & video {
      position: absolute;
      object-fit: cover;
      height: 100%;
      width: 100%;
      overflow: hidden;
      top: 0;
      left: 0;
    }
  }

  &CouponContainer {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &CouponBox {
    opacity: 0.95;
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
    background-image: linear-gradient(
      174.2deg,
      rgb(253, 251, 243) 7.1%,
      rgb(251, 251, 251) 67.4%
    );
    color: black;
    opacity: 0.7;
    backdrop-filter: blur(8px);
    border-radius: 0.3rem;
  }

  &Headline {
    @include mq(m600) {
      padding: 2.5rem;
    }

    @include mq(m1200) {
      font-size: large;
    }

    font-size: small;
    padding: 1.5rem;
    border: dashed $shadow--bitless 0.2rem;
    color: green;
  }

  &Imgs {
    @include mq(m1200) {
      padding: 0.5rem 0;
    }

    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 1rem 0;
    background-image: linear-gradient(102.4deg, #b2cade, #a9c9e47b, #b2cade);
  }

  &Wheel1 {
    animation: wheels 0.7s ease-in-out 2s;
  }

  &Wheel {
    &:hover {
      animation: wheels 0.3s ease-in-out;
    }

    max-width: 100%;
  }

  &Sec2Cont {
    background-color: #fcfcfc;
    width: 100%;
  }

  &Sec2HeadlineBox {
    text-align: center;
    font-family: "Goldman", sans-serif;
  }

  &Sec2Headline {
    font-size: xxx-large;
  }

  &Sec2Subline mark {
    padding: 0 0.3rem;
  }

  &Sec2Grid {
    @include mq(m600) {
    }
    @include mq(m750) {
      grid-template-columns: 20% 1fr 20%;
      grid-template-areas:
        ". one ."
        ". two ."
        ". three ."
        ". four .";
    }

    @include mq(m1200) {
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "one two"
        "three four";
    }

    @media screen and (min-width: 1500px) {
      grid-template-columns: 2% 1fr 1fr 1fr 1fr 2%;
      grid-template-areas: ". one two three four .";
    }

    display: grid;
    max-width: 100%;
    gap: 0.5rem;
    overflow: hidden;
    grid-template-columns: 2% 1fr 2%;
    grid-template-areas:
      ". one ."
      ". two ."
      ". three ."
      ". four .";
  }

  &Sec2GridEach {
    @media screen and (min-width: 1200px) {
      & p {
        padding: 0 6rem;
      }
    }

    @media screen and (min-width: 1500px) {
      & p {
        padding: 0 2rem;
      }
    }

    padding: 2rem;

    text-align: center;
  }

  &Sec2Grid_piece1 {
    grid-area: one;
  }
  &Sec2Grid_piece2 {
    grid-area: two;
  }
  &Sec2Grid_piece3 {
    grid-area: three;
  }
  &Sec2Grid_piece4 {
    grid-area: four;
  }

  &Sec2Img {
    @media screen and (max-width: 380px) {
      width: 150px;
      height: 100px;
    }

    border-radius: 0.4rem;
  }
}
